extends ./layout/index

block content
  main.container.mt-5
    .row
      .col-md-5
        img.img-fluid(src="/images/nosotros.jpg", alt="Imagen sobre nosotros")
      .col-md-7
        h2 #{page}
        blockquote Ullamco ad aliquip cillum fugiat nisi adipisicing adipisicing in labore irure dolore. Occaecat eu velit ullamco amet pariatur elit. Anim et amet ea nostrud id sunt. Aute aute elit nostrud sit cupidatat irure ea tempor excepteur velit irure incididunt nulla. Incididunt sit quis sit consequat pariatur ullamco minim voluptate culpa minim.

        p Pariatur ut exercitation qui enim proident amet do deserunt ea ad quis eiusmod ad. Exercitation tempor ullamco nulla enim. Sint pariatur deserunt ut anim dolor elit laborum eiusmod commodo. Veniam dolore officia laborum enim reprehenderit aute deserunt do cupidatat nostrud ullamco laborum duis.

        p Aliqua commodo laborum tempor laborum amet minim amet ex. Velit sit commodo irure ullamco enim labore labore esse laboris et cillum amet ea in. Non fugiat ea enim cupidatat non adipisicing fugiat est quis commodo. Magna reprehenderit ad proident esse exercitation officia labore enim adipisicing est irure eu eiusmod occaecat.
  section.listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img.img-fluid.mb-4(src="/images/icono_seguridad.svg", alt="Ícono seguridad")
          h2.mb-4 Seguridad
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis quaerat sunt magni possimus vitae ea temporibus veritatis. Modi sint minus dolores illo consectetur. Quod, quam? Eos aliquid in nulla reprehenderit?

        .col-md-4
          img.img-fluid.mb-4(src="/images/icono_destinos.svg", alt="Ícono destinos")
          h2.mb-4 Los Mejores Destinos
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis quaerat sunt magni possimus vitae ea temporibus veritatis. Modi sint minus dolores illo consectetur. Quod, quam? Eos aliquid in nulla reprehenderit?

        .col-md-4
          img.img-fluid.mb-4(src="/images/icono_precios.svg", alt="Ícono precios")
          h2.mb-4 Los Mejores Precios
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis quaerat sunt magni possimus vitae ea temporibus veritatis. Modi sint minus dolores illo consectetur. Quod, quam? Eos aliquid in nulla reprehenderit?
